# Entorno Virtual
bin/
lib/
include/
share/
pyenv.cfg

# Archivos de caché de python
__python__/ 
*.py[cod]
*$py.class

# Configuración de VS Code
.vscode/

# Variables de entorno
.env

# Bases de datos
*.sqlite3